@model EasyTalkWeb.Models.ViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Diagnostics
<link rel="stylesheet" href="../css/edit.profile.css" />
<link rel="stylesheet" href="../css/edit-profile.css" />



<div class="container-profile">
    <div class="profile-items">
        <div class="profile-title">
            <h1>
                Edit Profile
            </h1>
        </div>
        <form method="post" name="editProfileForm">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="edit_item">
                <label>First Name</label>
                <input type="text" name="firstName" placeholder="@Model.FirstName" class="form-control" asp-for="FirstName" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="edit_item">
                <label>Last Name</label>
                <input type="text" name="lastName" placeholder="@Model.LastName" class="form-control" asp-for="LastName" />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="edit_item">
                <label>Email</label>
                <input type="email" name="email" placeholder="@Model.Email" class="form-control" asp-for="Email" readonly />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="edit_item">
                <label>Location</label>
                <input type="text" name="location" placeholder="@Model.Location" class="form-control" asp-for="Location" />
                <span class="text-danger" asp-validation-for="Location"></span>
            </div>
            <div class ="edit_item">
                <label>Date of Birth</label>
                <input type="date" name="dateOfBirth" placeholder="@Model.DateOfBirth" class="form-control" asp-for="DateOfBirth">
                <span class="text-danger" asp-validation-for="DateOfBirth"></span>
            </div>
            @if (User.IsInRole("Freelancer"))
            {
                <div class="edit_item">
                    <label>Specialization</label>
                    <textarea name="specialization" style="height: 120px; resize: none" type="text" placeholder="@Model.Specialization" class="form-control" asp-for="Specialization"></textarea>
                    <span class="text-danger" asp-validation-for="Specialization"></span>
                </div>
                <div>
                    <label style="color:#eaeaea; font-size:20px; margin-bottom:15px;">Technologies</label>
                    <div class="search-technologies">
                        <input class="search-input" placeholder="Search Technology" id="searchTechnology" />
                        <div id="technologies">
                            @foreach (var technology in Model.Technologies)
                            {
                                if (Model.SelectedTechnologiesData.Contains(technology.Name))
                                {
                                    <div class="technology-item">
                                        <input class="technology-checkbox" type="checkbox" checked id="@technology.Name" />
                                        <label for="@technology.Name">@technology.Name</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="technology-item">
                                        <input class="technology-checkbox" type="checkbox" id="@technology.Name" />
                                        <label for="@technology.Name">@technology.Name</label>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="edit-buttons">
                <div>
                    <button type="submit" class="button" id="save-button">Save</button>
                </div>
                <div>
                    <a asp-controller="Profile" asp-action="Index" class="button">Back to profile</a>
                </div>
                <div>
                    <button type="submit" class="button" style="background-color:lightcoral; color: #eaeaea;" asp-controller="Profile" asp-action="DeleteUser">Delete account</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/js/profile.edit.js" defer></script>