@model EasyTalkWeb.Models.ViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Identity
<div>
    <div>
        <div>

            <h1>
                Edit Profile
            </h1>
            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div>
                    <label>First Name</label>
                    <input type="text" placeholder="@Model.FirstName" class="form-control" asp-for="FirstName"  />
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" placeholder="@Model.LastName" class="form-control" asp-for="LastName"  />
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" placeholder="@Model.Email" class="form-control" asp-for="Email"  readonly/>
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div>
                    <label>Location</label>
                    <input type="text" placeholder="@Model.Location" class="form-control" asp-for="Location"  />
                    <span class="text-danger" asp-validation-for="Location"></span>
                </div>
                <div>
                    <label>Date of Birth</label>
                    <input type="date" placeholder="@Model.DateOfBirth" class="form-control" asp-for="DateOfBirth"  />
                    <span class="text-danger" asp-validation-for="DateOfBirth"></span>
                </div>
                @if(User.IsInRole("Freelancer"))
                {
                    <div>
                        <label>Technologies</label>
                        <div>
                            <select class="technologies" multiple size="3" asp-for="SelectedTechnologies">
                                
                                @foreach (var technology in Model.Technologies)
                                {
                                    <option value="@technology.Id"> @technology.Name </option>
                                }
                            </select>
                        </div>
                    </div>
                }
                <div style="display: flex; margin-top : 15px; gap : 20px;">
                    <div>
                        <button type="submit" class="btn btn-dark" >Save</button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-dark" asp-controller="Profile" asp-action="Index">Close</button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-dark" asp-controller="Profile" asp-action="DeleteUser">Delete account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
