@model EasyTalkWeb.Models.ViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Identity
<div>
    <h1>Profile</h1>
    <div>
        <label>First Name</label>
        @Model.FirstName
    </div>
    <div>
        <label>Last Name</label>
        @Model.LastName
    </div>
    <div>
        <label>Date of Birth</label>
        @Model.DateOfBirth
    </div>
    <div>
        <label>Location</label>
        @Model.Location
    </div>
    <div>
        <label>Email</label>
        @Model.Email
    </div>
</div>
@if (User.IsInRole("Freelancer"))
{
    <div>
        <label>Technologies</label>
        @if (Model.Technologies != null)
        {
            @foreach (Technology technology in Model.Technologies)
            {
                <ol>@technology.Name</ol>
            }
        }
        else
        {
            <p>No technologies found</p>
        }
    </div>
    <div>
        <a asp-controller="Profile" asp-action="Edit">Edit</a>
    </div>
}
@* else if (User.IsInRole("Client"))
{
    <div>
        This content is only visible to users in the CLIENT role.
    </div>
} *@