@model EasyTalkWeb.Models.ViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Identity
<div>
    <h1>Profile</h1>
    <div>
        <label>First Name</label>
        <input type="text" placeholder="@Model.FirstName" class="form-control" asp-for="FirstName" readonly/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" placeholder="@Model.LastName" class="form-control" asp-for="LastName" readonly/>
    </div>
    <div>
        <label>Date of Birth</label>
        <input type="date" placeholder=" @Model.DateOfBirth" class="form-control" asp-for="DateOfBirth" readonly />
    </div>
    <div>
        <label>Location</label>
        <input type="text" placeholder="@Model.Location" class="form-control" asp-for="Location" readonly />
    </div>
    <div>
        <label>Email</label>
        <input type="email" placeholder="@Model.Email" class="form-control" asp-for="Email" readonly />
    </div>
</div>
@if (User.IsInRole("Freelancer"))
{
    <div>
        <label>Specialization</label>
        <input type="text" placeholder="@Model.Specialization" class="form-control" asp-for="Specialization" readonly />
    </div>
    <div>
        <label>Technologies</label>
        @if (Model.Technologies != null)
        {
            @foreach (Technology technology in Model.Technologies)
            {
                <ul>
                    <li>@technology.Name</li>
                </ul>
            }
        }
        else
        {
            <p>No technologies found</p>
        }
    </div>
}
<div style="display: flex; margin-top : 15px;">
    <div>
        <button type="submit" class="btn btn-dark" asp-controller="Profile" asp-action="Edit">
            <a style="color : #FFFF; text-decoration-line : none;" asp-controller="Profile" asp-action="Edit">Edit</a>
        </button>
    </div>
</div>