@model List<EasyTalkWeb.Models.Freelancer>
@{
}
<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Firstname</td>
                    <td>LastName</td>
                    <td>Technologies</td>
                    <td>Proposal</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var freelancer in Model)
                {
                    <tr>
                        <td>@freelancer.Person.FirstName</td>
                           <td>@freelancer.Person.LastName</td> 
                        
                <td>
                <div class="d-flex">
                @foreach (var tech in freelancer.Technologies)
                {
                <span class="badge bg-secondary me-1">@tech.Name</span>
                }
                </div>
                </td>
                        <td>
                            <div class="d-flex">
                                @foreach (var proposal in freelancer.Proposals)
                                {
                                    <span class="badge bg-secondary me-1">@proposal.Title</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area=""
                               asp-controller="Project"
                               asp-action="StartProject"
                               asp-route-id="@freelancer.FreelancerId">
                                Create project
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No freelancer Found!</p>
    }
</div>