@model List<EasyTalkWeb.Models.JobPost>
<link rel="stylesheet" href="../css/find-job.css" />

@{
}
<div class="container-jobs">
    <div class="search-job">
        <form asp-action="Index" asp-controller="FindJob">
            <div class="search-items">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-dark" type="submit">Search by title </button>
            </div>
        </form>
    </div>
    <div class="col-md-6" style="margin-bottom:20px; margin-left: 10px">
        <a asp-action="Index" style="color:#eaeaea">Back to full list</a>
    </div>
    <div>
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead>
                <tr class="table-titles">
                    <td>Title</td>
                    <td>Description</td>
                    <td>Technologies</td>
                    <td>Author</td>
                    <td> </td>
                </tr>
                </thead>
                <tbody>
                @foreach (var jobpost in Model)
                {
                    <tr>
                        <td class="list-text-item">@jobpost.Title</td>
                        <td class="list-text-item">@jobpost.Description</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tech in jobpost.Technologies)
                                {
                                    <span class="badge bg-secondary me-1">@tech.Name</span>
                                }
                            </div>
                        </td>
                            <td class="list-text-item">@jobpost.Client.Person.FirstName @jobpost.Client.Person.LastName </td>
                        <td>
                            <a style="color:#eaeaea"
                                asp-area=""
                               asp-controller="FindJob"
                               asp-action="WriteProposal"
                               asp-route-id="@jobpost.Id">
                                Write a proposal
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>No job Posts Found!</p>
        }

    </div>
</div>
