@model EasyTalkWeb.Models.ViewModels.ChatViewModels.CreateChatViewModel
@{
}
<link rel="stylesheet" href="~/css/proposal.css" />
<div class="container-proposals">
    <div class="proposals-placement"> 
        <h1 class="proposal-title"><b>@Model.JobPost.Title by @Model.JobPost.Client.Person.FirstName @Model.JobPost.Client.Person.LastName</b></h1>

        <h2 class="proposal-text">@Model.Description </h2>
        <hr />

        <div class="proposals-area">
            <p>

                @foreach (var prop in Model.JobPost.Proposals)
                {
                    <div class="proposal-area">
                        <p>@prop.Title</p>
                        <div>@prop.Freelancer.Person.FirstName</div>
                        <p>@prop.Text</p>
                        <a class="button-proposal-f"
                           asp-area=""
                           asp-controller="Chat"
                           asp-action="StartChat"
                           asp-route-jobPostId="@Model.JobPost.Id"
                           asp-route-proposalId="@prop.Id"
                           asp-route-freelancerId="@prop.FreelancerId">
                            Start Chat
                        </a>
                        <hr />
                    </div>
                }
            </p>
            
            
        </div>
    </div>
    
</div>